* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

body {
  background: #232F7D;
  height: 100vh;

}

.headerContainer {
  /* background-image: url('./assets/bgHeader.png');
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
}


.moon {
  width: 421px;
  height: 405px;
  position: absolute;
  /* Torna a posição fixa em relação à tela */
  top: -2rem;
  /* Define o topo como 0 para colar na parte superior */
  right: 0;
}

.satelite {
  width: 198px;
  height: 228px;
  position: absolute;
  top: 0;
  right: 3rem;
}



/*main*/

.equipe{
  margin-top: -10rem;
}

.naveAzul {
  position: absolute;
  left: 10%;
}

.nave{
  position: absolute;
  left: 10%;
  top:80%;
}

.equipeTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centraliza na horizontal */
  position: relative;
  /* Adiciona posição relativa ao container para posicionar os elementos internos */
}

.nuvem {
  width: 1098px;
  height: 511px;
}

.estrela {
  position: absolute;
  bottom: 50%;
  width: 236px;
  height: 207px;
}

.title {
  text-align: center;
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  width: 778px;
  height: 129px;
  color: #232F7D;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Exotc350 Bd BT";
  font-size: 80px;


}

.planetarosa {
  position: absolute;
  align-self: flex-end;
  top: 60%;
  right: 10%;
}

.planetalaranja {
  position: absolute;
  align-self: flex-end;
  bottom: 40%;
  right: 20%;
  width: 286px;
  height: 319px;
}

.planetaverde {
  align-self: flex-start;
  /* Alinha o planeta verde à esquerda dentro do container .equipeTitle */
}



/*Cards*/

.cards {
  display: flex;
  flex-direction: column;
margin: 0 auto;
 width: 90%;

}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  max-width: 100%;
  height: 300px;
  /* background: white; */
  border-radius: 20px;
  transition: 0.5s;
  
}

.container .card:hover {
  height: 400px;
  cursor: pointer;
}

.container .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  /* background: #333; */
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  /* box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2); */
}

.container .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover .content {
  top: 130px;
  height: 250px;
}

.container .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
 

}

.container .card .content p {
  color: black;
  padding-top: 2rem;
}



.tartaruga-container {
  display: flex;
  justify-content: center;
  align-items: center;
 

}


.turtleContainer{
  display: flex;
  justify-content: center;
}

.tartaruga {
 
  width: 200px;
  height: auto;
  
}

.card2{
  margin-top: -150px;
}

.montanha{
  width: 100%;
  margin-bottom: -5rem;
  
}




footer {
  background: #C3EDFF;
  width: 100%;
  justify-content: center;

}

.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4rem;
  padding-top: 3rem;
}


.visit {
  width: 543px;
}

.visit h3 {
  color: #232F7D;
  font-family: Exo;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.visit p {
  color: #232F7D;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 1em;
}

.lapis {
  display: flex;
  margin: 0 auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact ul {
  display: flex;
  padding-top: 1em;
}

.contact ul li {
  list-style-type: none;
}

.social {
  width: 52px;
  height: 52px;
  transition: transform 0.3s ease-in-out; 
}

.social:hover {
  transform: scale(1.2); 
}


.maps {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-top: 2em;
}

.maps p {
  color: #232F7D;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.map {
  width: 34px;
  height: 34px;
}

#mapH3 {
  padding-top: 1em;
}

.contact h3 {
  color: #232F7D;
  font-family: Exo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.formulario {
  justify-content: center;
  align-items: center;
  height: 423px;
  width: 360px;
}

.formulario h3 {
  color: #232F7D;
  text-transform: uppercase;
  font-family: Exo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

.labelForm {
  margin-bottom: 2rem;
}

label {
  display: flex;
  flex-direction: column;
  color: #232F7D;
  font-family: Exo;
  font-size: 17px;
  font-weight: 600;
  width: 141px;
  height: 32px;

}

input {
  width: 358px;
  height: 43px;
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  outline: none;
  border: none;
}

textarea {
  width: 358px;
  height: 95px;
  border: none;
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  outline: none;

}

button {
  display: flex;
  width: 84px;
  height: 34px;
  border-radius: 9px;
  background: #232F7D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  border: none;
  font-family: Exo;
  font-size: 17px;
  outline: none;
  margin: 2em auto;
  align-items: center;
  justify-content: center;
}



.copy {
  display: flex;
  background: #232F7D;
  width: 100%;
  height: 47px;
}

.copy p {
  color: #FFF;
  font-family: Exo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 1em auto;
}

@media screen and (max-width: 768px) {

  body{
    width: 100%;
  }

  .moon, .satelite{
    display: none;
  }
  .naveAzul, .estrela, .planetaverde, .nave, .turtleContainer, .planetarosa  {
    display: none;
  }

  .container .card {
    width: 230px;
    border-radius: 15px;
}

.container .card .img-box {
    width: 185px;
    border-radius: 10px;
}

.container .card .content p {
    font-size: 0.8rem;
}

.container .card .content a {
    font-size: 0.9rem;
}
  .equipe {
    margin-top: -50rem;
    width: 100%;
  }

  .planetalaranja{
  
    width: 114px;
    height: 128px;
    right: 0;
  }

  .nuvem{
   width: 100%;
   height: 266px;
  }

  .title{
    top: 60%;
    width: 80%;
    font-size: 45px;
    word-wrap: break-word;
  }


  /*cards*/

  .card1{
    height: auto;
  }

  .container {
    gap: 50px;
    margin-top: 5rem;
    
  }

  #cardTop{
    margin-top: 50px;
  }
  
  

  .montanha{
    width: 100%;
    
  }

  
  .footerContainer {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }

  .visit,
  .contact,
  .formulario {
    width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .visit h3 {
    width: 90%
  }


  .visit p {
    font-size: 16px;
    width: 80%
  }

  .contact ul {
    justify-content: center;
  }

  .maps {
    flex-direction: column;
    align-items: center;
  }

  .copy {
    padding: 1em 0;
  }

  .copy p {
    font-size: 10px;
  }

  .lapis {
    width: 100%;
  }

  .form {
    width: 100%
  }

  input,
  textarea {
    width: 100%
  }



}