@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  font-optical-sizing: auto;

}

.headerContainer {
  background-image: url('./assets/bgHeader.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 895px;
}

.navbar {

  color: #fff;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 15px;
}

.logo {
  font-size: 1.5em;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: 1rem;
  list-style: none;
}

.nav-list li {
  margin-right: 20px;
}



.navLink {
  display: flex;
  border-radius: 28px;
  border: 1px solid #FCC90D;
  background: #232F7D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 105px;
  height: 43px;
  color: #FCC90D ;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}



.menu-toggle {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}


.navLink:hover {
  color: #fcc80d8b;
  transform: translateY(-5px);
} 

.music-player {
  display: flex; 
  justify-content: flex-end;
    margin-top: -26px;
}

#playPauseBtn {
  color: #232F7D;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

#playPauseBtn:hover {
  transform: translateY(-3px); 
}

#playPauseBtn.play {
  background-color: #FCC90D;
}

#playPauseBtn.pause {
  background-color: #e74c3c;
  color: #FCC90D;
}

#playPauseBtn i:before {
  content: "\f04b";
  
}

#playPauseBtn.pause i:before {
  content: "\f04c";
  /* Código Unicode para o ícone de pause */
}


.stars {
  width: 1200px;
  justify-content: space-around;
}

.stars img {
  padding: 2em;
  animation: float 16s ease-in-out infinite, blink 1s ease-in-out infinite;
}

.star2 {
  margin-top: 6rem;
}

.star3 {
  margin-top: 10rem;
}


.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}


.foguete {
  display: flex;
  flex-direction: column;
}



.foguete h1 {
  color: #FCC90D;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Exotc350 Bd BT;
  font-size: 32px;
  font-weight: 400;
  width: 781px;
  height: 121px;
  text-align: center;
}

.effects {
  display: flex;
  width: 100%;
}

.airplane {
  width: 377px;
  height: 284px;

}

.plan1 {
  width: 170px;
  height: 97px;
  margin-left: 8rem;
  margin-top: 6rem;

}

.plan2 {
  width: 121px;
  height: 69px;
  margin-top: 13rem;
}


.logoImag {
  width: 636px;
  height: 551px;
  margin-top: -10rem;
  animation: floatAnimation 20s ease-in-out infinite;

}

.logoMb {
  display: none;
}




/*Animações do Header*/

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

@keyframes floatAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

/*POP UP*/
#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 60%; /* Largura do popup ajustada */
  max-width: 700px; /* Limite máximo de largura */
  text-align: center;
  background-color: white; /* Fundo branco para visibilidade */
  padding: 20px; /* Padding para melhor espaçamento */
  box-shadow: 4px 8px 12px rgba(252, 201, 13, 0.5); /* Sombra amarela suave */ /* Sombra para melhor visual */
  position: relative; /* Torna o contêiner relativo para posicionar o botão de fechar */
}

.popup-content {
  display: flex; /* Define o contêiner como flexível */
  justify-content: space-between; /* Espaça as imagens uniformemente */
  align-items: center; /* Centraliza as imagens verticalmente */
}

.popup-content img {
  width: 48%; /* Define a largura das imagens para 48% para criar um espaçamento entre elas */
  height: auto; /* Mantém a proporção das imagens */
}

.close {
  position: absolute; /* Torna o botão de fechar absoluto */
  top: 18px; /* Posiciona o botão de fechar 10px do topo */
  font-size: clamp(24px, 5vw, 35px);
  /* Aumenta o tamanho da fonte do botão de fechar */
  cursor: pointer; /* Muda o cursor para pointer ao passar sobre o botão */
  color: #333; /* Define a cor do botão de fechar */
}

.close:hover {
  transform: scale(1.2);
}



/*Main*/

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.criancas {
  justify-content: center;
}

.criancaImg {
  display: flex;
  width: 1141px;
  height: 642px;
  margin: 2rem auto;
}

.criancaImg2 {
  display: none
}

.criancas p {
  color: #232F7D;
  text-align: center;
  font-family: Exo;
  font-size: 24px;
  font-weight: 600;
  width: 1231px;
}
#sala {
  display: none !important;
}

#abc {
  display: flex;
  width: 713px;
  height: 542px;
  margin: 0 auto; 
  align-items: center; 
  justify-content: center; 
}


.escola {
  display: flex;
  width: 965px;
  height: 359px;
  background: #C3EDFF;

}

.school,
.bercarioInfo {
  width: 442px;
  height: 260px;
  margin: 3em auto;
}

.school h2,
.bercario h2 {
  color: #232F7D;
  font-family: Exo;
  font-size: 36px;
  font-weight: 600;

}

.school p,
.bercario p {
  color: #232F7D;
  font-family: Exo;
  font-size: 20px;
  font-weight: 500;

}



.galery {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
}

.galery img {
  transition: transform 0.3s ease-in-out; 
}

.galery img:hover {
  transform: scale(1.2);
}


.bercario {
  display: flex;
  background: #C3EDFF;
  width: 965px;
  height: 361px;
  margin-top: 3rem;
}

#info {
  padding-left: 3rem;
}

.bercarioImg,
.hotelImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#arvore {
  width: 500px;
  height: 416px;

}

.turtle {
  position: absolute;
  bottom: -200rem;
  right: 0;
  transform: translateY(-50%);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: #C3EDFF;
  margin-top: 15rem;
}

.about div {
  display: flex;
  flex-wrap: wrap;
  /* Permitir que os itens quebrem linha em telas menores */
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 2em auto;
}


.about h3 {
  color: #232F7D;
  font-family: Exo;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about p {
  color: #232F7D;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hands1 {
  margin: 0 auto;

}

.hands {
  display: none;
}

.jornada div {
  display: flex;
  justify-content: space-around;
}

.flower {
  width: 153px;
  height: 167px;
}

.book {
  width: 192px;
  height: 139px;
}

.dream {
  padding-top: 8rem;
  color: #232F7D;
  font-family: Exo;
  font-size: 30px;
  font-weight: 600;
  width: 1107px;
  text-align: center;

}

#mundo {
  display: flex;
  margin: 0 auto;
  margin-bottom: -64px;
}

#mundo2 {
  display: none;
}

footer {
  background: #C3EDFF;
  width: 100%;
  justify-content: center;

}

.footerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4rem;
  padding-top: 3rem;
}


.visit {
  width: 543px;
}

.visit h3 {
  color: #232F7D;
  font-family: Exo;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.visit p {
  color: #232F7D;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 1em;
}

.lapis {
  display: flex;
  margin: 0 auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact ul {
  display: flex;
  padding-top: 1em;
}

.contact ul li {
  list-style-type: none;
}

.social {
  width: 52px;
  height: 52px;
  transition: transform 0.3s ease-in-out; 
}

.social:hover {
  transform: scale(1.2); 
}


.maps {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-top: 2em;
}

.maps p {
  color: #232F7D;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.map {
  width: 34px;
  height: 34px;
}

#mapH3 {
  padding-top: 1em;
}

.contact h3 {
  color: #232F7D;
  font-family: Exo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.formulario {
  justify-content: center;
  align-items: center;
  height: 423px;
  width: 360px;
}

.formulario h3 {
  color: #232F7D;
  text-transform: uppercase;
  font-family: Exo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

.labelForm {
  margin-bottom: 2rem;
}

label {
  display: flex;
  flex-direction: column;
  color: #232F7D;
  font-family: Exo;
  font-size: 17px;
  font-weight: 600;
  width: 141px;
  height: 32px;

}

input {
  width: 358px;
  height: 43px;
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  outline: none;
  border: none;
}

textarea {
  width: 358px;
  height: 95px;
  border: none;
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  outline: none;

}

button {
  display: flex;
  width: 84px;
  height: 34px;
  border-radius: 9px;
  background: #232F7D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  border: none;
  font-family: Exo;
  font-size: 17px;
  outline: none;
  margin: 2em auto;
  align-items: center;
  justify-content: center;
}



.copy {
  display: flex;
  background: #232F7D;
  width: 100%;
  height: 47px;
}

.copy p {
  color: #FFF;
  font-family: Exo;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 1em auto;
}

.iframemap{
  margin-top: 10px;
}

#goTopBtn {
  display: none; /* Inicialmente oculto */
  position: fixed; /* Fixa o botão na tela */
  bottom: 20px; /* Distância do botão até o fundo */
  right: 30px; /* Distância do botão até a direita */
  z-index: 99; /* Garante que o botão esteja sempre acima do conteúdo */
  border: none; /* Remove a borda do botão */
  outline: none; /* Remove o contorno ao focar */
  background-color: #232F7D; /* Cor de fundo */
  color: white; /* Cor do texto */
  cursor: pointer; /* Cursor de ponteiro ao passar por cima */
  padding: 15px; /* Espaçamento interno */
  border-radius: 12px; /* Borda arredondada */
  font-size: 36px; /* Altere o tamanho conforme necessário */
  width: 45px; /* Ajuste a largura conforme necessário */
  height: 55px; /* Ajuste a altura conforme necessário */
  display: flex; /* Usa flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  
}


#goTopBtn:hover {
  background-color: #FCC90D; /* Cor de fundo ao passar o mouse */
}



@media screen and (max-width: 768px) {

  body{
    width: 100%;
  }

  .headerContainer {
    background-image: url('./assets/bgMobile.png');
    width: 100%;
    max-height: 795px;
 
  }

  .headerContent {
    flex-direction: column;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 132px;
    left: 0;
    width: 100%;
  }

  .nav-list.show {
    display: flex;
  }

  .nav-list li {
    margin: 0;
    text-align: center;
    padding: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .music-player {
    display: block;
    position: relative; /* Change from absolute to relative */
    top: auto; /* Remove top positioning */
    right: auto; /* Remove right positioning */
    margin-top: 15px; /* Adjust margin to create space below the last item */
    margin-right: 15rem;
  }

  .music-player button {
    margin-left: auto; /* Align the play button to the right */
    margin-right: auto;
  }

  .stars{
    width: 100%;
  }

  .stars .star1:last-child {
    display: none;
  }

  .star2, .star3 {
    display: none;
  }

  .effects img {
    display: none;
  }

  .foguete h1 {
    font-size: 20px;
    width: 350px;
    padding: 2em 0 2em 0;
   

  }

  .logoImag {
    display: none;
  }

  .logoMb {
    display: block;
    margin-top: 3em;
  }

  .mainContainer{
    overflow-x: hidden;
  }

  .criancas {
    width: 100%;
    align-items: center;
  }

  .criancaImg {
    display: none;
  }

  #abc{
    display: none !important;
  }


  #sala {
    display: flex !important;
    margin: 0.5em auto;
  }

  .criancaImg2 {
    display: flex;
    margin: 2em auto;
  }

  .criancas p {
    width: 100%;
    font-size: 16px;
    padding: 0.5em;
  }

  
  .turtle {
    display: none;
  }

  .escola,
  .bercario {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    padding: 0.5em;
  }

  .bercarioInfo{
    width: 100%;
  }


  .school p,
  .bercario p {
    font-size: 19px;
    width: 75%;
  }

  .hands1 {
    display: none;
  }

  .hands {
    display: flex;
  }

  .flower {
    width: 63px;
    height: 87px;

  }

  .book {
    width: 100px;
    height: 59px;
    padding-top: 1em;
  }

  .dream {
    font-size: 20px;
  }

  #mundo {
    display: none;
  }

  
  #mundo2 {
    display: flex;
    width: 100%;
   
  }

  .footerContainer {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }

  .visit,
  .contact,
  .formulario {
    width: 100%;
    margin-bottom: 2rem;
    justify-content: center;
  }

  .visit h3 {
    width: 90%
  }


  .visit p {
    font-size: 16px;
    width: 80%
  }

  .contact ul {
    justify-content: center;
  }

  .maps {
    flex-direction: column;
    align-items: center;
  }

  .copy {
    padding: 1em 0;
  }

  .copy p {
    font-size: 10px;
  }

  .lapis {
    width: 100%;
  }

  .form {
    width: 100%
  }

  input,
  textarea {
    width: 100%
  }


}