* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.headerContainer {
  background-image: url('./assets/bgHeader.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 895px;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: 1rem;
}

.navLink {
  display: flex;
  border-radius: 28px;
  border: 1px solid #FCC90D;
  background: #232F7D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 105px;
  height: 43px;
  color: #FCC90D !important;
  justify-content: center;
  align-items: center !important;
  text-align: center;
}

.stars {
  width: 1200px;
  justify-content: space-around;
}

.stars {
  width: 1200px;
  justify-content: space-around;
}

.stars img {
  padding: 2em;
  animation: float 2s ease-in-out infinite;
}

.star2 {
  margin-top: 6rem;
}

.star3 {
  margin-top: 10rem;
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}


.foguete {
  display: flex;
  flex-direction: column;
}



.foguete h1 {
  color: #FCC90D;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Exotc350 Bd BT;
  font-size: 32px;
  font-weight: 400;
  width: 781px;
  height: 121px;
  text-align: center;
}

.effects {
  display: flex;
  width: 100%;
}

.airplane {
  width: 377px;
  height: 284px;
  animation: float2 6s linear infinite;
}

.plan1 {
  width: 121px;
  height: 69px;
  margin-top: 15rem;
}

.plan2 {
  width: 170px;
  height: 97px;
  padding-left: 3rem;
}


#logomobile{
  display: none;
}


.logoImag {
  width: 636px;
  height: 551px;
  margin-top: -10rem;
  /* object-fit: cover; */
}

/*Main*/

.mainContainer{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.criancas{
  
  justify-content: center;
}

.criancas img{
  display: flex;
  width: 1141px;
  height: 642px;
  margin: 2rem auto;
}

.criancas p{
  color: #232F7D;
  text-align: center;
  font-family: Exo;
  font-size: 24px;
  font-weight: 600;
  width: 1231px;
  
}

#abc{
  width: 713px;
  height: 542px;
}

.escola{
  display: flex;
  width: 965px;
  height: 359px;
  background: #C3EDFF;
}

.school, .bercarioInfo {
  width: 442px;
  height:260px;
  margin:3em auto;
}





.school h2,.bercario h2{
  color: #232F7D;
  font-family: Exo;
  font-size: 36px;
  font-weight: 600;
  
}

.school p, .bercario p{
  color: #232F7D;
  font-family: Exo;
  font-size: 20px;
  font-weight: 500;
  
}



.galery{
  display: flex;
  flex-wrap: wrap;
  width: 380px;
}

.bercario{
  display: flex;
  background: #C3EDFF;
  width: 965px;
  height: 361px;
  margin-top: 3rem;
}

#info{
  padding-left: 3rem;
}

.bercarioImg, .hotelImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

#arvore{
  width: 500px;
  height: 416px;
  
} 

.turtle{
  position: absolute;
  top: 225rem;
  right: 1%;
  transform: translateY(-50%);
  
}

.about{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 622px;
  background: #C3EDFF;
  margin-top: 15rem;
}

.about div{
  display: flex;
  flex-direction: column;
  width: 1323px;
  height: 237px;
  margin: 2em auto;

}

.about h3{
  color: #232F7D;
  font-family: Exo;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.about p{
  color: #232F7D;
  font-family: Exo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about img{
  margin: 0 auto;
 
}

.jornada div{
  display: flex;
  justify-content: space-around;
}

.flower{
  width: 153px;
  height: 167px;
}

.book{
  width: 192px;
  height: 139px;
}

.jornada div p{
  padding-top: 8rem;
  color: #232F7D;
  font-family: Exo;
  font-size: 30px;
  font-weight: 600;
  width: 1107px;
  text-align: center;
  
}

#mundo{
  display: flex;
  margin: 0 auto;
}

footer{
  background: #C3EDFF;  
  width: 100%;
  /* height: 720px; */
  justify-content: center;
 
}

.footerContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4rem;
  padding-top: 3rem;
}


.visit{
  width: 543px;
}

.visit h3{
  color: #232F7D;
font-family: Exo;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.visit p{
  color: #232F7D;
font-family: Exo;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 1em;
}

.lapis{
  display: flex;
  margin: 0 auto;
}

.contact{
  display: flex;
  flex-direction: column;
align-items: center;
}

.contact ul{
  display: flex;
  padding-top: 1em;
}

.contact ul li{
  list-style-type: none;
}

.social{
  width: 52px;
  height: 52px;
}

.maps{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.map{
  width: 34px;
  height: 34px;
}

#mapH3{
  padding-top: 1em;
}
.contact h3{
  color: #232F7D;
  font-family: Exo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



.formulario{
  justify-content: center;
  align-items: center;
  height: 423px;
  width: 360px;
}

.formulario h3{
  color: #232F7D;
  text-transform: uppercase;
  font-family: Exo;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  padding-bottom: 1em;
}

.form{
  display: flex;
  flex-direction: column;
}

.labelForm{
  margin-bottom: 2rem;
}

label{
  display: flex;
  flex-direction: column;
  color: #232F7D;
font-family: Exo;
font-size: 17px;
font-weight: 600;
width: 141px;
height: 32px;

}

input{
  width: 358px;
  height: 43px;
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  outline: none;
  border: none;
}

textarea{
  width: 358px;
  height: 95px;
  border: none;
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  outline:none;

}

button{
  display: flex;
  width: 84px;
height: 34px;
border-radius: 9px;
background: #232F7D;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
border: none;
font-family: Exo;
font-size: 17px;
outline: none;
margin: 2em auto;
align-items: center;
justify-content: center;
}

.copy{
  display: flex;
  background: #232F7D;
  width: 100%;
  height: 47px;
}

.copy p{
  color: #FFF;
font-family: Exo;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 1em auto;
}

@media screen and (max-width:412px) {
  .headerContainer {
    width: 100%;
    height: 1000px;
  }

  .stars {
    width: 100%;

  }

  .star2,
  .star3, #starmb {
    display: none;
  }

  .headerContent {
    flex-direction: column;
    justify-content: space-between;
    max-width: 700px;
  }

  .foguete,
  .logo {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

    
  .foguete h1 {
       
    font-size: 24px;
    width: 100%;
    height: 100px;
    
  }

  .effects{
    width: 100%;
    
  }
   .airplane {
    /* margin-left: 2rem;
    padding-left: 2rem; */
    width: 377px;
    
  }

 .plan1,.plan2 {
    display: none;
   
  }

  #logomb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 337px;
  }

  #logomobile{
    width: 327px;
    margin: 2em auto;
  }

  
  .logoImag {
    display: none;
  }


  .criancas img{
    width: 80%;
  }



  }

  


/*Animações do Header*/
@keyframes float {

  0%,
  100% {
    transform: translateY(0);

  }

  50% {
    transform: translateY(-50px);

  }
}

@keyframes float2 {

  0%,
  100% {
    transform: translateX(0);

  }

  50% {
    transform: translateX(-50px);

  }

}

