*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.headerContainer{
  background-image: url('./assets/bgHeader.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 895px;
}

.navContainer{
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: 1rem;
}

.navLink{
  display: flex;
  border-radius: 28px;
  border: 1px solid #FCC90D;
  background: #232F7D;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 105px;
  height: 43px;
  color: #FCC90D !important;
  justify-content: center;
  align-items: center !important;
  text-align: center;
}

.stars{
  width: 1200px;
  justify-content: space-around;
}

.stars{
  width: 1200px;
  justify-content: space-around;
}

.stars img{
  padding: 2em;
  animation: float 2s ease-in-out infinite;
}

.star2{
  margin-top: 6rem;
}

.star3{
  margin-top: 10rem;
}

.foguete{
  display: flex;
  flex-direction: column;
}

.foguete h1{
  color: #FCC90D;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Exotc350 Bd BT;
  font-size: 32px;
  font-weight: 400;
  width: 781px;
  height: 121px;
  text-align: center;
}

.effects{
  display: flex;
  width: 100%;
}

.airplane{
  width: 377px;
  height: 284px;
  animation: float2 6s linear infinite;
}

.plan1{
  width: 121px;
  height: 69px;
  margin-top: 15rem;
}

.plan2{
  width: 170px;
  height: 97px;
  padding-left:3rem;
}

.headerContent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}


.headerContent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  width: 100%;
}

.logoImag{
  width: 636px;
  height: 551px;
  margin-top: -10rem;
  object-fit: cover;
}



/*Animações do Header*/
@keyframes float{
  0%,100%{
    transform: translateY(0);
    
  }
  50%{
    transform: translateY(-50px);
    
  }
}

@keyframes float2{
  0%, 100% {
    transform: translateX(0);
   
  }
  50% {
    transform: translateX(-50px);
    
  }
    
  }